
<div>S-a adaugat in baza de date:</div>


<br /> 

<div><b>FirstName:</b> @Model.FirstName</div>
<div><b>LastName:</b> @Model.LastName</div>
<div><b>Email:</b> @Model.Email</div>
<div><b>Password:</b> @Model.Password</div>

<br />


<div>
    <a style="text-decoration:none; font-weight:550" href="~/Home/ShowDB">Inapoi la baza de date</a>
</div>
